
<article class="page-width" aria-labelledby="title-0">
  <a href="{{ blog.url }}" class="h1 article-blog__link">{{ 'blogs.article.back_to_blog' | t }}</a>
  <div class="blog-post-wrap">
    <div class="article-section" role="article">
      <div class="section-header">
        <h1 class="article__title" id="title-0">{{ article.title }}</h1>
        {% if section.settings.blog_show_author %}
          <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
        {% endif %}

        {% if section.settings.blog_show_date %}
          <span class="article__date">
            Posted {% render 'english-date' with article.published_at -%}
          </span>
        {% endif %}

        {% if article.tags.size > 0 %}
          <div class="article__tags article__tags--list rte">
            {% for tag in article.tags %}
              <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
            {% endfor %}
          </div>
        {% endif %}

      </div>

      {%- if article.image -%}
        {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
        {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
        {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

        {% render 'image-style', image: article.image, height: 600, wrapper_id: img_wrapper_id, img_id: img_id %}

        <div id="{{ img_wrapper_id }}" class="article-image-wrapper js">
          <img id="{{ img_id }}"
                class="article-image lazyload"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 720, 905, 1090, 1296, 1512, 1728, 2048]"
                data-aspectratio="{{ article.image.aspect_ratio }}"
                data-sizes="auto"
                alt="">
        </div>

        <noscript>
          {{ article | img_url: '455x300', scale: 2 | img_tag: article.title }}
        </noscript>
      {% endif %}

      <div class="rte">
        {{ article.content }}
      </div>

      {% if section.settings.show_share_buttons %}
        {% render 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
      {% endif %}
    </div>
    <aside class="article-sidebar" role="complementary" aria-labelledby="blog-aside__{{ section.id }}">
      <h4 id="blog-aside__{{ section.id }}" class="article-sidebar__title">{{ 'blogs.article.recent_posts' | t }}</h4>
      <ul class="article-sidebar__list">
        {%- for recent_article in blog.articles -%}
          {%- if article.id == recent_article.id -%}
            {%- continue -%}
          {%- endif -%}
          <li class="article-sidebar__item">
            <a href="{{- recent_article.url -}}">
              {{- recent_article.title -}} <br />
              {%- render 'english-date' with recent_article.published_at -%}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </aside>
  </div>
</article>


<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "articleBody": {{ article.content | strip_html | json }},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ shop.url | append: page.url | json }}
  },
  "headline": {{ article.title | json }},
  {% if article.excerpt != blank %}
    "description": {{ article.excerpt | strip_html | json }},
  {% endif %}
  {% if article.image %}
    {% assign image_size = article.image.width | append: 'x' %}
    "image": [
      {{ article | img_url: image_size | prepend: "https:" | json }}
    ],
  {% endif %}
  "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
  "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
  "author": {
    "@type": "Person",
    "name": {{ article.author | json }}
  },
  "publisher": {
    "@type": "Organization",
    {% if page_image %}
      {% assign image_size = page_image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": {{ page_image.height | json }},
        "url": {{ page_image | img_url: image_size | prepend: "https:" | json }},
        "width": {{ page_image.width | json }}
      },
    {% endif %}
    "name": {{ shop.name | json }}
  }
}
</script>

{% schema %}
{
  "class": "article-section__wrap",
  "name": {
    "cs": "Příspěvky",
    "da": "Opslag",
    "de": "Posts",
    "en": "Posts",
    "es": "Publicaciones",
    "fi": "Julkaisut",
    "fr": "Articles",
    "it": "Articoli",
    "ja": "投稿",
    "ko": "게시물",
    "nb": "Innlegg",
    "nl": "Berichten",
    "pl": "Posty",
    "pt-BR": "Posts",
    "pt-PT": "Publicações",
    "sv": "Inlägg",
    "th": "โพสต์",
    "tr": "Gönderiler",
    "vi": "Bài viết",
    "zh-CN": "文章",
    "zh-TW": "貼文"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": {
        "cs": "Zobrazit autora",
        "da": "Vis forfatter",
        "de": "Autor anzeigen",
        "en": "Show author",
        "es": "Mostrar autor",
        "fi": "Näytä tekijä",
        "fr": "Afficher l'auteur",
        "it": "Mostra autore",
        "ja": "執筆者を表示する",
        "ko": "작성자 표시",
        "nb": "Vis forfatter",
        "nl": "Auteur weergeven",
        "pl": "Pokaż autora",
        "pt-BR": "Exibir autor",
        "pt-PT": "Mostrar autor",
        "sv": "Visa författare",
        "th": "แสดงผู้เขียน",
        "tr": "Yazarı göster",
        "vi": "Hiển thị tác giả",
        "zh-CN": "显示作者",
        "zh-TW": "顯示作者"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": {
        "cs": "Zobrazit datum",
        "da": "Vis dato",
        "de": "Datum anzeigen",
        "en": "Show date",
        "es": "Mostrar fecha",
        "fi": "Näytä päivämäärä",
        "fr": "Afficher la date",
        "it": "Mostra data",
        "ja": "日付を表示する",
        "ko": "날짜 표시",
        "nb": "Vis dato",
        "nl": "Datum weergeven",
        "pl": "Pokaż datę",
        "pt-BR": "Exibir data",
        "pt-PT": "Mostrar data",
        "sv": "Visa datum",
        "th": "แสดงวันที่",
        "tr": "Tarihi göster",
        "vi": "Hiển thị ngày",
        "zh-CN": "显示日期",
        "zh-TW": "顯示日期"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "cs": "Zobrazit tlačítka pro sdílení na sociálních sítích",
        "da": "Vis knapper til deling på sociale medier",
        "de": "Buttons für Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fi": "Näytä sosiaalisen median jakamispainikkeet",
        "fr": "Afficher les boutons de partage sur les médias sociaux",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャルメディアでの共有ボタンを表示する",
        "ko": "소셜 공유 버튼 표시",
        "nb": "Vis knapper for deling på sosiale medier",
        "nl": "Knoppen voor sociaal delen weergeven",
        "pl": "Pokaż przyciski udostępniania w mediach społecznościowych",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais",
        "pt-PT": "Mostrar botões de partilha nas redes sociais",
        "sv": "Visa knappar för delning i sociala medier",
        "th": "แสดงปุ่มสำหรับแชร์ลงโซเชียล",
        "tr": "Sosyal medya paylaşım düğmelerini göster",
        "vi": "Hiển thị nút chia sẻ qua mạng xã hội",
        "zh-CN": "显示社交分享按钮",
        "zh-TW": "顯示社群分享按鈕"
      },
      "default": true
    }
  ],
  "templates": ["article"],
  "presets": [
    {
      "name": "Article"
    }
  ]
}
{% endschema %}
